* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: "jost" !important;
    background-color: #fdfdfd;
}

@keyframes rotate {

    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.secondary-nav{
    display: none;
}

.main-container {
    width: 95%;
    overflow: hidden;
    background-color: #F5F5F5;
}

.nav-links:hover {
    border-bottom: .5px solid #FDB915;
}

.button:link,
.button:active {
    background-color: #FDB915;
    border-radius: 5px;
    padding: 9px 19px;
    margin-left: -20px;
}

.button:hover {
    color: #fdfdfd !important;
    background-color: #FDB915 !important;
}

/*Hero section*/

.hero-image {
    height: 340px;
}

.hero-detail {
    gap: 80px;
}

.detail-line {
    width: 280px;
}

.star {
    height: 64px;
    animation: rotate 3s infinite linear;
}

.cta {
    margin-bottom: 100px !important;
}

.cta-1 {
    text-align: center;
}

.cta-2 {
    text-align: center;
    border: 1px solid #224093;
}

/*Venue section*/

.venue-details {
    background-image: linear-gradient(to right, rgb(211, 155, 0), 20%, rgb(54, 96, 197),rgb(54, 96, 197), rgb(54, 96, 197));
}

.detail-text {
    font-size: 52px;
}

.venue {
    background-image: url(images/Venue-1-38edfbf0.png);
    height: 65vh;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 60px;
}

.part-title {
    font-size: 70px;
    font-weight: 800;
}

.straight-line-1 {
    position: absolute;
    top: 20px;
    left: 60px;
}

.straight-line-2 {
    position: absolute;
    top: 20px;
    right: 60px;
}

.line-text-1 {
    position: absolute;
    bottom: 10px;
    left: 45px;
}

.line-text-2 {
    position: absolute;
    top: 20px;
    right: 45px;
}

.vertical-text-1 {
    position: absolute;
    top: 34px;
    left: 15px;
    transform: rotate(270deg);
}

.vertical-text-2 {
    position: absolute;
    bottom: 24px;
    right: 15px;
    transform: rotate(-270deg);
}

.venue-name {
    display: inline-block;
    margin-left: 85px;
    margin-top: 45px;
}

.speaker-image {
    width: 100%;
}

/*Ticket section*/

.ticketing {
    width: 80%;
    transition: all .8s;
}

.tickets-title {
    font-size: 80px;
    color: #224093;
}

.ticket-image {
    width: 50%;
}

.ticket-img {
    height: 250px;
}

.pricing-cards {
    width: 100%;
}

.price {
    font-family: "jost";
    font-weight: 800;
}

.price-about {
    font-size: 12px;
    font-weight: 500;
}

.card-1 {
    width: 52rem;
    height: 80vh;
    background-color: white;
    transition: all .8s;
}

.card-1:hover {
    background-color: #32971D;
}

.card-2 {
    width: 52rem; 
    height: 85vh; 
    background-color: #FFCD55; 
    color: #224093;
    transition: all .8s;
}

.card-3 {
    width: 52rem; 
    height: 80vh; 
    background-color: white;
    transition: all .8s;
}

.card-3:hover {
    background-color: #00208A;
}

/*Sponsor section*/

.sponsor-section {
    width: 4000px;
    font-family: "jost";
}

.sponsor-text-big {
    color: #224093;
    font-size: 35px;
    font-weight: 800;
    font-family: "jost";
}

.sponsor-logos {
    animation: slideLeft 17s infinite linear;
}

.sponsor-slide {
    display: inline-block;
    margin-right: 40px;
    /* animation: slideLeft 17s infinite linear; */
}

.sponsor-slide img {
    height: 80px;
}

.logo-img {    
    margin: 0 60px;
}

/*Prizes section*/

.prizes-section {
    background-image: linear-gradient(to right top, rgb(19, 35, 81),85%, rgb(238, 99, 101));
    height: 72vh;
    margin-bottom: 90px;
}

.prize-text {
    width: 30%;
}

.prize-text-big {
    font-size: 40px;
    font-weight: 800;
    font-family: "jost";
    margin-bottom: 0 !important;
}

.prize-text-small {
    font-size: 14px;
    letter-spacing: 1.8px;
    line-height: 1.5;
    padding: 0 0 20px 0;
}

.price-images {
    width: 70%;
    transition: all 2s;
}

.prize {
    height: 150px;
}

.prize-1 {
    align-self: center;
    transition: all .8s;
}

.prize-1:hover {
    transform: rotate(22deg);
}

.prize-2 {
    height: 90%;
    width: 700px;
}

.prize-3 {
    transition: all .8s;
}

.prize-3:hover {
    transform: rotate(22deg);
}

.div-margins {
    margin-bottom: 200px;
}

.footer-section {
    background-color: #132351;
}

.footer {
    padding: 0 150px;
}

.social-icons img {
    height: 25px;
    margin-left: 15px;   
}

.footer-link {
    list-style: none;
    margin-left: 50px;
}

.footer-links:link {
    text-decoration: none;
}


@media screen and (max-width:600px) {
    .main-container {
        width: 100%;
    }

    .secondary-nav{
        display: block;
    }

    .header{
        display: none;
    }

    .hero-image {
        height: 140px;
    }

    .hero-detail {
        flex-direction: column;
        gap: 20px;
    }

    .detail-line {
        width: 200px;
    }

    .cta {
        flex-direction: column;
    }

    .about-section {
        flex-direction: column;
    }

    .venue-info {
        padding: 0 10px;
    } 

    .venue-name {
        font-size: 18px;
        margin: 0 auto;
        margin-left: 40px;
    }

    .speaker-grp {
        flex-direction: column;
    }

    .speaker-image-1 {
        width: 300px;
        margin-left: 98px;
    }

    .tickets-section {
        text-align: center;
    }

    .pricing-cards {
        flex-direction: column;
    }

    .card-1 {
        padding: 0 100px;
    }

    .prizes-section {
        flex-direction: column;
        width: 100%;
    }

    .prize-text-big {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 0 !important;
    }
    
    .prize-text-small {
        font-size: 14px;
        width: 100%;
    }

    .prize-1 {
        display: none;

    }

    .prize-3 {
        display: none;
    }

    .prize-2 {
        display: none;
        width: 100%;
    }

    .footer {
        flex-direction: column;
    }

    .social {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

}






