* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Jost !important;
    background-color: #fdfdfd;
}

.nav-links:hover {
    border-bottom: .5px solid #FDB915;
}

.button:link,
.button:active {
    background-color: #FDB915;
    border-radius: 5px;
    padding: 9px 19px;
    margin-left: -20px;
}

.button:hover {
    color: #fdfdfd !important;
    background-color: #FDB915 !important;
}

.hero-detail {
    gap: 80px;
}

.star {
    animation: rotate 3s infinite linear;
}

.cta {
    margin-bottom: 100px !important;
}

.cta-1 {
    text-align: center;
}

.cta-2 {
    text-align: center;
    border: 1px solid #224093;
}

.venue-details {
    background-image: linear-gradient(to right, rgb(211, 155, 0), 20%, rgb(54, 96, 197),rgb(54, 96, 197), rgb(54, 96, 197));
}

.detail-text {
    font-size: 52px;
}

.venue {
    background-image: url(images/Venue-1-38edfbf0.png);
    height: 65vh;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 60px;
}

.part-title {
    font-size: 70px;
    font-weight: 800;
}

.straight-line-1 {
    position: absolute;
    top: 20px;
    left: 60px;
}

.straight-line-2 {
    position: absolute;
    top: 20px;
    right: 60px;
}

.line-text-1 {
    position: absolute;
    bottom: 10px;
    left: 45px;
}

.line-text-2 {
    position: absolute;
    top: 20px;
    right: 45px;
}

.vertical-text-1 {
    position: absolute;
    top: 34px;
    left: 15px;
    transform: rotate(270deg);
}

.vertical-text-2 {
    position: absolute;
    bottom: 24px;
    right: 15px;
    transform: rotate(-270deg);
}

.venue-name {
    display: inline-block;
    margin-left: 85px;
    margin-top: 45px;
}

.speaker-image {
    width: 100%;
}

.gold-img {
    height: 10vh;
    width: 20%;
}

.sponsor-text-big {
    color: #224093;
    font-size: 34px;
}

.sponsor-slide {
    width: 1400px;
    /* animation: slideLeft 10s infinite linear; */
}
















@keyframes rotate {

    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(1600px);
    }

    100% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-1000px);
    }

    0% {
        transform: translateX(1600px);
    }
}